<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Twitless</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="styles/main.css"/>

    </head>
    <body>
    <div id="container">
        <script type="text/template" id="shell">
            <h1>Twitless</h1>
            <div class="blurb">
                <p>Sick of looking up a tweeter and just seeing a sea of @ replies and in jokes? No more with Twitless! Enter a Twitter handle and see just what you'll see if you follow that user!!!</p>
            </div>
            <div id="app"></div>
        </script>
        
        <script type="text/application" id="form">
            <form>
                <input type="text" name="twit" id="twit" placeholder="username">
                <input type="submit" value="go">
            </form>
        </script>

        <script id="tweet" type="text/template">
            <div class="tweet" data-retweeted="<%= retweeted %>">
                    <%= text %>
            </div>
        </script>

    </div><!-- / container -->
    
    <footer>
        - Made by <a href="http://indiehaus.net">Indie Haus</a> -
    </footer>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <!-- build:js scripts/scripts.js -->
        <script src="scripts/vendor/jquery.min.js"></script>
        <script src="scripts/vendor/lodash.min.js"></script>
        <script src="scripts/vendor/backbone-min.js"></script>
        <script src="scripts/views/application-view.js"></script>
        <script src="scripts/models/application-model.js"></script>
        <script src="scripts/collections/application-collection.js"></script>
        <script src="scripts/routes/application-router.js"></script>
        <script src="scripts/views/form.js"></script>
        <script src="scripts/views/twitlist.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-37445380-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
